    body{
    background: #f5f4f47a;
    color: #0f0f0fdc;
    margin-right: 4%;
    margin-left: 4%;
    padding: 20px;
    text-align: justify; 
    }
    .ol{
      text-align: left;
      font-size: 30px;
        margin-bottom: 100px;
        border-radius: 5px;
        margin-right: 1;
        margin-left: 1;
        background: rgb(92, 163, 230);
            }
          title{
        font-size: 40px;
        padding-top: 10px;
        text-align: center;
       }
    header{
    position:relative; 
    text-align: center;
    margin: auto;
    background-color: #94a5db;
    margin-bottom: 40px; 
    border-radius: 3px; 
    box-shadow: rgba(0,0,0,0.5) 3px 4px 5px;
    width: 310px
    }
    .p {
      text-align: justify;
      line-height: 25px;
      font-size: 22px;
    background: rgb(208, 219, 233);
    padding: 32px;
    position: relative;
    margin-bottom: 100px;
    border-radius: 5px;
    margin-right: 10;
    margin-left: 10;
    box-shadow: rgba(0,0,0,0.5) 3px 5px 4px;
    }
        footer{
    background: rgb(219, 208, 208);
    position: relative; 
    margin-bottom: 25px;
    border-radius: 5px;
    margin-left: 90%;
    padding: 40px;
    height: 110px;
    width: 120px
          }